
<div class="banner-innerpage" style="
            background-image: url(https://images.healthshots.com/healthshots/en/uploads/2021/02/19110437/Cut-fruits-1.jpg);
          ">
        <h1>About Us</h1>
        <span>
            ​localgarden is proud to offer the freshest food selections to customers in the San Francisco area. 
            We know how much of a challenge it can be to find the exact food products you’re looking for, which is why our business was started in the first place; to provide a quick, convenient, and reliable Fruit & Vegetable Delivery Service.
        </span>
</div>